{% extends "base.html" %}
{% block content %}
    <h1>Olá, {{ user.nickname }}!</h1>
    {% for post in posts %}
        <div><p>{{ post.author.nickname }} diz: <b>{{ post.body }}</b></p></div>
    {% endfor %}
{% endblock %}
